@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;400;500;600;700&family=Cinzel:wght@400;500;600&family=Manrope:wght@300;400;500;600&display=swap');

/* ---------------- RESET ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background: url("img/bg.jpg") center / cover no-repeat fixed;
  display: flex;
  font-family: var(--font-body);
}

/* SCROLLING   */
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox */
* {
  scrollbar-width: none;
}


/* ---------------- VARIABLES ---------------- */
:root {
  --bg-primary: #002868;
  --text-primary: #F5F7FA;
  --text-secondary: #B8C2D6;
  --accent: #E6C17A;
  --accent-hover: #F0D9A3;

  --font-heading: "Cinzel", serif;
  --font-body: "Manrope", sans-serif;

  --nav-height: 72px;
  --footer-height: 72px;
}

/* ---------------- TYPOGRAPHY ---------------- */
/* padding was removed here*/

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--text-primary);
}

h1 { color: var(--accent); }
p { color: var(--text-secondary); }


ul{
list-style-type: none;
}


/* ---------------- NAVBAR ---------------- */
.menu{
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 2rem;
  z-index: 10;

}

.menu a{
  
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--font-heading);
  transition: color 0.3s;
  
  color: var(--text-secondary); 
  text-decoration: none;
  transition: ease 0.3;
  font-weight: bold;
  font-size: larger;
  margin: 0 0.5rem;
}

.menu a:hover{
  color: var(--accent);
  text-decoration: underline;
}

#lang-toggle {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--accent);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  color: var(--accent);
  cursor: pointer;
  transition: all 0.25s ease;
}

#lang-toggle:hover {
  background-color: var(--accent);
  color: var(--bg-primary);
  transform: scale(1.05);
}


/* ---------------- CENTER ELEMENTS ---------------- */
.center-elements {
  position: absolute;
  top: var(--nav-height);
  bottom: var(--footer-height);
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4%;
}

/* ---------------- COMPACT LAYOUT (ABOUT) ---------------- */
.layout-compact .center-elements {
  flex-direction: row;
  gap: 5%;
}

.layout-compact .business-card {
  flex: 0 0 auto;
  }
  

.layout-compact .right-zone {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}


/* ---------------- CONTENT LAYOUT (PROJECTS / BLOG) ---------------- */

.layout-content .business-card {
  display: none;
}

.layout-content .right-zone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;  
}

.layout-content .center-elements{

  flex-direction: column;
  padding-top: 3rem;
  width: 100%;
}

.layout-content .page-content{
  overflow-y: scroll;
  flex: 1;
}

.business-card,
.right-zone {
  transition: flex 0.45s cubic-bezier(.22,.9,.26,1), opacity .35s ease;
}

/* ---------------- PAGE CONTENT ---------------- */
.page-content {
  width: 100%;
  max-width: 1200px;

}

.page-content > div {
  display: none;
}

.page-content > div.active {
  display: block;
}

/* ---------------- ABOUT ---------------- */
.about-text {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify;
  padding: 0.5rem 0;
}

/* ---------------- PROJECTS ---------------- */

.projects{
  width: 100%;
  overflow-y: auto;
  height: calc(90vh - var(--nav-height) - var(--footer-height)); 
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;  
}

.project-media {
  height: 100%;
}

.project-box {
  width: 100%;
  aspect-ratio: auto;
  background: rgba(0,0,0,0.45);
  border-radius: 14px;
  position: relative;
}

.project-box img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: filter .3s ease;
}


.project-info {
  position: absolute;
  inset: 0;
  padding: 1.5rem;
  background: rgba(0,0,0,.65);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity .3s ease;
  overflow: hidden;
  gap: 1rem;
  overflow-y: auto;
}

.project-box:hover img {
  filter: blur(4px);
}

.project-box:hover .project-info {
  opacity: 1;
}

/* Links */
.project-links {
  display: flex;
  gap: 1rem;
}

.project-links a {
  padding: .5rem 1rem;
  border: 1px solid var(--accent);
  color: var(--accent);
  border-radius: 8px;
  text-decoration: none;
}

.project-links a:hover {
  background: var(--accent);
  color: var(--bg-primary);
}

/* ---------------- Blogs ---------------- */

.blog {
  width: 100%;
  overflow-y: auto;
}

.blog h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.blog-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blog-item {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 14px;
  padding: 1.5rem;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.blog-item:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.08);
}

.blog-item h2 {
  margin: 0 0 0.5rem;
  font-size: 1.3rem;
}

.blog-item p {
  margin: 0;
  opacity: 0.8;
  line-height: 1.5;
}

.blog-full-content h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.blog-full-content p {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 1.5rem;
}

.blog-content {
  display: none;
  flex-direction: column;
  height: calc(90vh - var(--nav-height) - var(--footer-height));  
  
}

.blog-full-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.back-to-list{
  display: inline-block;
  margin: 1.5rem;
  padding: 1rem 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 12px;
  border: 1px solid var(--accent);
  background-color: rgba(255, 255, 255, 0.0);
  color: var(--accent);
  cursor: pointer;
  transition: all 0.2s ease;
}

.back-to-list:hover{
  background: var(--accent);
  color: var(--bg-primary);
  border: var(--accent-hover);
  transform: scale(1.05);
}

/* ---------------- NAVIGATION ARROWS ---------------- */
.navi-arrow-left,
.navi-arrow-right {
  border: none;
  font-size: 2rem;
  color: var(--accent);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.0);
  transition: all 0.2s ease;
  border-radius: 12px;
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
}

.navi-arrow-left:hover,
.navi-arrow-right:hover {
  transform: scale(1.15);
  background-color: var(--accent);
  color: var(--bg-primary);
  border: var(--accent-hover);
}

/* ---------------- BUSINESS CARD ---------------- */
.presentation-text {
  position: relative;
  padding-left: 1.5rem;
}

.presentation-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background: var(--accent);
  border-radius: 2px;
}

/* ---------------- FOOTER SOCIALS ---------------- */
.socials {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: var(--footer-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(12,24,54,.85);
  backdrop-filter: blur(6px);
  border-radius: 18px;
}

.icon svg {
  width: 32px;
  height: 32px;
  fill: var(--text-primary);
  transition: transform .2s ease, fill .3s ease;
}

.icon:hover svg {
  transform: scale(1.2);
  fill: var(--accent);
}

.icon svg path {
  fill: var(--text-primary);
  transition: fill 0.3s;
}

.icon:hover svg path {
  fill: var(--accent);
}
